{% extends "default_controller1/index.html.twig" %}
{% block maincontent %}
	{% block stylesheets1 %}
		<link href="{{ asset('css/Content.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
	<div class="Dashboard_body_main_content">

        
		<div class="Dashboard_body_main_content_back_button">
			<img src="{{ asset('images/leftvector.png') }}" class="Dashboard_left_arrow"/>
		</div>
        
		<div class="Dashboard_body_main_content_wrapper">
			<div class="Dashboard_body_main_content_Date">
				<p class="Dashboard_body_main_content_Date_span">{{Date}}</p>
			</div>
			<div class="Dashboard_body_main_content_Profile_name">
				<p class="Dashboard_body_main_content_Profile_span">Good morning,
					{{Profile_name}}</p>
			</div>

			<div class="Dashboard_body_main_content_Profile_buttons">

				<button class="Dashboard_body_main_content_Profile_buttons_myrequests">
					My Requests
				</button>

				<button class="Dashboard_body_main_content_Profile_buttons_myrequests">
					Assigned to me
				</button>

				<button class="Dashboard_body_main_content_Profile_buttons_myrequests">
					Conversations
				</button>

			</div>

           {{ include('Includes/NewsFrame.html.twig') }}

		</div>

	</div>

    <div class="Dashboard_main_content_table"> 
     {% set heading = {'foo': 'Upcoming tasks'} %}
    {% include "Includes/Dashboard_table.html.twig" with heading %}
    {% include "Includes/Dashboardtable1.html.twig"%}

    </div>

    {% block javascript4 %}
    <script>

    
    $(document).ready(function(){        

        $('.dashboard_elements_workload').click(function() {
            console.log('hii1234356');

        })
var src1 = "{{ asset('images/leftvector.png') }}";
var src2 = "{{ asset('images/rightarrow.png') }}";
$(".Dashboard_body_main_content_back_button").click(function(){
   var src = $('.Dashboard_left_arrow').attr('src');
   if(src == src1){
       $('.Dashboard_left_arrow').attr('src',src2);
       $('.dashboard_elements_span').css("display", "none");
       $('.dashboard_elements').css("justify-content", "unset");
       $('.dashboard_elements').css("width", "unset");
       $('.dashboard_elements').css("display", "grid");
       $('.dashboard_elements').css("place-content", "center");
       $('.right_arrow').css("display", "none");
       $('.right_arrow1').css("display", "none");

       $('.dashboard_create_request_text_span').css("display", "none");
       }
   else{
       $('.Dashboard_left_arrow').attr('src',src1);
       $('.dashboard_elements_span').css("display", "block");
       $('.dashboard_elements').css("justify-content", "space-between");
       $('.dashboard_elements').css("width", "258px");
       $('.dashboard_elements').css("display", "flex");
       $('.right_arrow').css("display", "block");
       $('.right_arrow1').css("display", "block");

       $('.dashboard_create_request_text_span').css("display", "block");
   }

});
});
    </script>
    {% endblock %}
{% endblock %}
