<div class="Dashboard_table_upcoming_requests">
	<div class="Dashboard_table_upcoming_requests_header">
		<div class="Dashboard_table_upcoming_requests_header_text">
			<h3 class="Dashboard_table_upcoming_requests_header_text_heading">{{heading.foo}}
			</h3>
		</div>
		<div class="Dashboard_table_upcoming_requests_header_search">
			<div class="Dashboard_table_upcoming_requests_header_search_button">
				<img src="{{ asset('images/shape.png') }}"/>
			</div>
			<div class="Dashboard_table_upcoming_requests_header_viewall_button">
				<img src="{{ asset('images/Chart_fill.svg') }}"/>
				<p class="Dashboard_table_upcoming_requests_header_viewall_button">
					View All</p>
			</div>
		</div>
	</div>
</div>

{# <div class="my-breadcrumbs">
	<a href="/">{{ 'Home'|trans }}</a>
	>
	{{ pimcore_render_nav(mainNavigation, 'breadcrumbs') }}
</div> #}

<div class="dashboard_table">
<table>
	<tr class="dashboard_upcoming_requests_table_header">
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">ID</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Due Date</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Entity</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Type</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Initator</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Status</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>
		<th class="dashboard_upcoming_requests_table_header_element">
			<div class="dashboard_upcoming_requests_table_header_element_div">
				<p class="dashboard_upcoming_requests_table_header_element_div_p">Time Remaining</p>
				<img src="{{ asset('images/Frame34287.svg') }}" alt="">
			</div>
		</th>

	</tr>
	<tr>
		<td class="dashboard_upcoming_requests_table_header_element_details">
			<div class="dashboard_upcoming_requests_table_header_element_details_content">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_div">L3</div>
				<p>
					13765</p>
			</div>
		</td>
		<td>12/06/20</td>
		<td>
			<p class="dashboard_upcoming_requests_table_header_element_details_content_EWA">EWAA</p>

		</td>
		<td>Content</td>
		<td>
			<div class=" dashboard_upcoming_requests_table_header_element_details_content_sk">
				SK
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_dot"></div>

				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_text">Under Review</div>
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock">
					<img src="{{ asset('images/table_alarm.svg') }}" alt=""/>
					<span class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock_text">2:05:00</span>
				</div>
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_wrapper">
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_progresss" style="width:60%; background: #B8B8B8;"></div>
                </div>
			</div>
		</td>
	</tr>

    <tr>
		<td class="dashboard_upcoming_requests_table_header_element_details">
			<div class="dashboard_upcoming_requests_table_header_element_details_content">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_div1">L3</div>
				<p>
					13765</p>
			</div>
		</td>
		<td>12/06/20</td>
		<td>
			<p class="dashboard_upcoming_requests_table_header_element_details_content_EWA energy">Energy</p>

		</td>
		<td>Content</td>
		<td>
			<div class=" dashboard_upcoming_requests_table_header_element_details_content_sk">
				TA
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_dot"></div>

				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_text">Under Review</div>
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock">
					<img src="{{ asset('images/table_alarm.svg') }}" alt=""/>
					<span class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock_text">4:45:00</span>
				</div>
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_wrapper">
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_progresss" style="width:60%; background: #B8B8B8;" ></div>
                </div>
			</div>
		</td>
	</tr>

    <tr>
		<td class="dashboard_upcoming_requests_table_header_element_details">
			<div class="dashboard_upcoming_requests_table_header_element_details_content">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_div1" style="background: #37C3A1;" >L3</div>
				<p>
					13765</p>
			</div>
		</td>
		<td>12/06/20</td>
		<td>
			<p class="dashboard_upcoming_requests_table_header_element_details_content_EWA energy" style="color: #FFA800;">Energy</p>

		</td>
		<td>Content</td>
		<td>
			<div class=" dashboard_upcoming_requests_table_header_element_details_content_sk">
				EF
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_dot"></div>

				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_text">Under Review</div>
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock">
					<img src="{{ asset('images/table_alarm.svg') }}" alt=""/>
					<span class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock_text">DELAYED</span>
				</div>
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_wrapper">
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_progresss" style="width:100%; background: #EA3F47;" ></div>
                </div>
			</div>
		</td>
	</tr>

    <tr>
		<td class="dashboard_upcoming_requests_table_header_element_details">
			<div class="dashboard_upcoming_requests_table_header_element_details_content">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_div1" style="background: #FFA800;" >L3</div>
				<p>
					13765</p>
			</div>
		</td>
		<td>12/06/20</td>
		<td>
			<p class="dashboard_upcoming_requests_table_header_element_details_content_EWA energy" style="color: #37C3A10;">Energy</p>

		</td>
		<td>Content</td>
		<td>
			<div class=" dashboard_upcoming_requests_table_header_element_details_content_sk">
				BN
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_dot"></div>

				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_text">Under Review</div>
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock">
					<img src="{{ asset('images/table_alarm.svg') }}" alt=""/>
					<span class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock_text">2:05:00</span>
				</div>
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_wrapper">
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_progresss" style="width:20%; background: #B0B0B0;" ></div>
                </div>
			</div>
		</td>
	</tr>

    <tr>
		<td class="dashboard_upcoming_requests_table_header_element_details">
			<div class="dashboard_upcoming_requests_table_header_element_details_content">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_div1" style="background: #EA3F470;" >L3</div>
				<p>
					13765</p>
			</div>
		</td>
		<td>12/06/20</td>
		<td>
			<p class="dashboard_upcoming_requests_table_header_element_details_content_EWA energy" style="color: #37C3A1;">Energy</p>

		</td>
		<td>Content</td>
		<td>
			<div class=" dashboard_upcoming_requests_table_header_element_details_content_sk">
				SD
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_dot"></div>

				<div class="dashboard_upcoming_requests_table_header_element_details_content_underreview_text">Under Review</div>
			</div>
		</td>

		<td>
			<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar">
				<div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock">
					<img src="{{ asset('images/table_alarm.svg') }}" alt=""/>
					<span class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_clock_text">2:05:00</span>
				</div>
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_wrapper">
                <div class="dashboard_upcoming_requests_table_header_element_details_content_progressbar_progresss" style="width:20%; background: #B0B0B0;" ></div>
                </div>
			</div>
		</td>
	</tr>
</table>
</div>