
<link rel="stylesheet" href="{{ asset('css/NewsFrame.css') }}">


<div class="Dashboard_body_main_content_Profile_views">
				<div class="Dashboard_body_main_content_Profile_views_request_not_started">
					<div class="Dashboard_body_main_content_Profile_views_request_not_started_heading">
						<p class="Dashboard_body_main_content_Profile_views_request_not_started_heading_text">
							Not Started</p>
						<p class="Dashboard_body_main_content_Profile_views_request_not_started_heading_number">
							5,732</p>
					</div>
                    <div class="Dashboard_body_main_content_Profile_views_request_not_started_heading_icon">
                    <img src="{{ asset('images/Frame1.png') }}"/>
                     </div>
				</div>

                <div class="Dashboard_body_main_content_Profile_views_request_Inprogress">
					<div class="Dashboard_body_main_content_Profile_views_request_not_started_heading">
						<p class="Dashboard_body_main_content_Profile_views_request_Inprogress_heading_text">
							In Progress</p>
						<p class="Dashboard_body_main_content_Profile_views_request_Inprogress_heading_number">
							546</p>
					</div>
                    <div class="Dashboard_body_main_content_Profile_views_request_not_started_heading_icon">
                    <img src="{{ asset('images/Frame1.png') }}"/>
                     </div>
				</div>

                <div class="Dashboard_body_main_content_Profile_views_request_Awaiting">
					<div class="Dashboard_body_main_content_Profile_views_request_not_started_heading">
						<p class="Dashboard_body_main_content_Profile_views_request_Awaiting_heading_text">
							Awaiting Feedback</p>
						<p class="Dashboard_body_main_content_Profile_views_request_Awaiting_heading_number">
							90</p>
					</div>
                    <div class="Dashboard_body_main_content_Profile_views_request_not_started_heading_icon">
                    <img src="{{ asset('images/Frame1.png') }}"/>
                     </div>
				</div>

                <div class="Dashboard_body_main_content_Profile_views_request_Delayed">
					<div class="Dashboard_body_main_content_Profile_views_request_not_started_heading">
						<p class="Dashboard_body_main_content_Profile_views_request_Delayed_heading_text">
							Delayed</p>
						<p class="Dashboard_body_main_content_Profile_views_request_Delayed_heading_number">
							90</p>
					</div>
                    <div class="Dashboard_body_main_content_Profile_views_request_not_started_heading_icon">
                    <img src="{{ asset('images/Frame1.png') }}"/>
                     </div>
				</div>
			</div>